@import url('https://fonts.googleapis.com/css2?family=Junge&display=swap');

/* Estilos Generales */

body {
    background-color: #ad0302;
    color: white;
    padding: 20px;
}

h1 {
    font-family: 'Junge', serif;
    font-size: 3rem;
    font-weight: bold;
}

hr {
    height: 5px !important;
    background-color: white;
    opacity: 1 !important;
}

nav,
span {
    border-radius: 5px;
}

nav {
    background-color: #8c0201;
}

span {
    background-color: white;
    color: #fa0704;
}

.redes {
    text-decoration: none;
    color: white;
    height: 70px;
    width: 70px;
    font-size: 2rem;
    overflow: hidden;
    background-color: black;
    border-radius: 50%;
    display: none;
}

#logo,
#burger {
    display: block;
}

.redes ion-icon {
    font-size: 40px;
    margin-top: 15px;
    margin-left: 15px;
}

.redes:hover {
    color: white;
}

#brand {
    height: 60px;
    width: 60px;
    margin-left: 4px;
}


/* Sin Bootstrap */

section div,
footer ul li button {
    background-color: #fa0704;
}

footer {
    background-color: #8c0201;
}

footer ul li button {
    border: none;
    padding: 15px;
    color: white;
}

ul li {
    display: inline-block;
    list-style-type: none;
}

h1 {
    text-align: center;
}

header img {
    width: 100%;
}

nav,
footer,
article {
    display: flex;
}

nav,
footer,
article {
    flex-direction: row;
}

nav {
    justify-content: space-between;
}

footer {
    justify-content: space-evenly;
}

section {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    grid-template-areas: "producto1 producto1 producto1 producto2 producto2 producto2" "producto3 producto3 producto4 producto4 producto5 producto5";
    justify-items: start;
    align-items: start;
}

.producto1 {
    grid-area: producto1;
}

.producto2 {
    grid-area: producto2;
}

.producto3 {
    grid-area: producto3;
}

.producto4 {
    grid-area: producto4;
}

.producto5 {
    grid-area: producto5;
}

.producto1,
.producto2,
.producto3,
.producto4,
.producto5 {
    display: flex;
    flex-direction: row;
}

section div img {
    width: 55%;
}


/* Media Queries Bootstrap */

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {
    #burger {
        display: none;
    }
    .redes {
        display: block;
    }
}

@media (min-width: 1400px) {}