@font-face {
  font-family: "Cafe";
  src: url(../typo/cafeandbrewery.ttf); }

.instagram{
  background-color: purple;
}
.youtube{
  background-color: red;
}
.Tumblr{
  background-color: darkblue;
}




body {
  background-image: url(../multimedia/3403318.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  font-family: "Cafe"; }

.placeholder {
  display: grid;
  grid-template-columns: auto auto; }

.fashion {
  font-family: fantasy; }

.fin {
  background-color: black; }

.golfwang {
  color: yellowgreen;
  position: unset;
  margin-left: 600px; }

.boxModel {
  width: 100px;
  height: 100px;
  overflow: auto;
  padding: 10px 20px 30px 100px;
  flex-direction: initial; }

.titulo {
  margin: 10px 20px 30px 600px; }

.border {
  border-style: dotted;
  width: 600px; }

.img-home {
  height: 300; }

.Empresa {
  background-image: url(../multimedia/contacotswallpaper.webp);
  background-size: cover;
  background-position: top; }

.fondoContactos {
  background-image: url(../multimedia/1408.webp); }

.bodyprod {
  background-image: url(../multimedia/3403318.webp); }

.bodyser {
  background-image: url(../multimedia/57-572432_golf-le-fleur-mono.jpg);
  background-size: cover; }

.formulos{
  width: 50%;
  margin: 0 auto;
}
.formolo{
  width: 50%;
  margin: 0 auto;
}
.formula{
  width: 50%;
  margin: 0 auto;
}
.enviarq{
  width: 50%;
  margin: 0 auto;
}
button{
  
  margin: 0 auto;
}
.main{
  display: grid;
  grid-template-columns: 15% auto;
  grid-template-rows: 15% 10% auto;
  column-gap: 10px;
  row-gap: 10px; 
}
.padre {
  display: grid;
  grid-template-columns: 5fr 3fr 5fr;
  grid-template-rows: 600px 600px;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 500px 500px;
  column-gap: 100px;
  row-gap: 50px; }

header {
  grid-area: header; }

.productosGrid{
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
footer {
  grid-area: footer; }

section #productos {
  grid-area: productos; }

.bodyprod {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  justify-content: center;
  align-items: center; }

section #servicios {
  grid-area: servicios; }

nav {
  grid-area: nav; }

aside {
  grid-area: aside; }

#productos {
  display: grid;
  grid-template-columns: 50% auto;
  grid-template-rows: 300px 300px;
  align-items: flex-start;
  justify-items: first baseline;
  justify-items: flex-start; }

.videito {
  -ms-flex-item-align: center;
  align-content: center;
  align-items: flex-start; }

.aside {
  display: flex;
  justify-content: right; }

.introduccion {
  justify-content: left; }

@media screen and (min-width: 320px) {
  footer {
    grid-area: fin; }
  nav {
    grid-area: nav; } }

#border {
  display: none; }

#main {
  width: 100%; }

body {
  width: 100%;
  grid-template-columns: subgrid;
  grid-template-rows: auto auto auto;
  grid-template-areas: "nav" "main" "fin"; }

.img-home {
  display: flex;
  flex-direction: column;
  margin-top: 20px; }

.img {
  width: 300px; }

.bodyprod {
  display: flex;
  flex-direction: column;
  margin-top: 20%;
  margin: 25%; }

.grid-form {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto auto;
  grid-template-areas: "texto texto texto"
 "correo contra repetir"
 "enviar enviar reset"; }

.divContactos {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.contactos {
  display: flex;
  align-items: center; }

.boxModel {
  display: none; }

.btn {
  background-color: blue; }

.footerCon {
  background-color: white;
  color: black; }


 

.colaboraciones {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto; }
.productosGrid{
  display: grid;
  grid-template-columns: auto auto;
}
@media (min-width: 321px) and (max-width: 760px) {
  #main {
    grid-template-columns: 15% auto;
    grid-template-rows: 15% 10% auto;
    column-gap: 10px;
    row-gap: 10px; 
    display: flexbox;
    flex-direction: column; }
  
  #header {
    display: grid;
    grid-template-columns: 15% auto;
    grid-template-rows: 15% 10% auto;
    column-gap: 10px;
    row-gap: 10px; } }

@media (min-width: 321px) and (max-width: 760px) and (max-width: 760px) {
  #divProductos {
    display: flex;
    flex-direction: column;
    margin-top: 20px; } }
  #productosGrid{
    display: flex;
    flex-direction: column;
  }
  #aside{
    display: flexbox;
    flex-direction: column;
  }
  #colaboraciones{
    display: flex;
    flex-direction: column;
  }

@media  (min-width: 321px) and (max-width: 760px) {
  .input {
    display: flex;
    justify-content: left;
    align-items: flex-start; } }
  .card-body{
    grid-template-columns: auto;
    grid-template-rows: auto;
    display: flex;
    flex-direction: column;
  }
.texto {
  grid-area: texto; }

.contra {
  grid-area: contra; }

.repetir {
  grid-area: repetir; }

.enviar {
  grid-area: enviar; }

.reset {
  grid-area: reset; }

.ancho {
  width: 100%;
  height: 20%; }

  .carrito {
    height: 40px;
    width: 50px;
  }
  
  .carrito-style{
    width: 25vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    transition: all .4s ease;
    background-color: rgb(120, 120, 233);
    list-style: none;
    padding: 10px;
    overflow-y: scroll;
  }
  
  .carrito-style.oculto{
    right: -25vw;
  
  }
  #button-cancel{
    width: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .prod-carrito {
   list-style: none;
  }
  
  .boton-carrito {
  
    background-color: red;
    color: white;
    padding: 4px 10px;
    border-radius: 10px;
    width: fit-content;
  
  }
  .img-carrito {
  
    aspect-ratio: 1/1;
      object-fit:cover;
  
  }