@font-face{
    font-family: "Cafe";
    src:url(../typo/cafeandbrewery.ttf)
}


body {
    background-image: url(../multimedia/3403318.webp);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Cafe";
    
}



.fashion{
    font-family: fantasy;
    
}

.fin{
    background-color: black;
}

.golfwang{
    color: yellowgreen;
    position: unset;
    margin-left: 600px;
}

.boxModel{
    width: 100px;
    height: 100px;
    overflow: auto;
    padding: 10px 20px 30px 100px;
    flex-direction:initial;
}

.titulo{
    margin: 10px 20px 30px 600px;
}

.border{
    border-style: dotted;
    width: 600px;
}

.img-home{
    height: 300;
}


.Empresa{
    background-image: url(../multimedia/contacotswallpaper.webp);
    background-size:cover;
    background-position: top;
}

.fondoContactos{
    background-image: url(../multimedia/1408.webp);
}

.bodyprod{
    background-image: url(../multimedia/3403318.webp);
}

.bodyser{
    background-image:url(../multimedia/57-572432_golf-le-fleur-mono.jpg);
    background-size: cover;
}




header{
    grid-area: header;
}

footer{
    grid-area: footer;
}

section #productos{
    grid-area: productos;
}


section #servicios{
    grid-area: servicios;
}

nav{
    grid-area: nav;
}

aside{
    grid-area: aside;
}

#productos{
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: 300px 300px;
    align-items: flex-start;
    justify-items: first baseline;
    justify-items: flex-start;
}

.videito{
    -ms-flex-item-align: center;
    
    align-content: center;
    align-items: flex-start;
}

.aside{
   display: flex;
   justify-content:right;
}
.introduccion{ 
    justify-content: left;
}

@media screen and (min-width: 320px){
    footer{
        grid-area: fin;
    }
    nav{
        grid-area: nav;
    }
    
    #productos{
        display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: 300px 300px;
    column-gap: 10%;
    align-items: flex-start;
    justify-items: first baseline;
    justify-items: flex-start;
    
}
    }
    
    #border{
        display: none;
    }

    #main{
        width: 100%;
    }

    body{
        width: 100%;
      
        grid-template-columns:auto auto auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        "nav nav nav"
        "main main main"
        "fin fin fin";
    }
     
    .productosNav{
        grid-area: nav;
    }

    .productosMain{
        grid-area: main;
    }

    .productosDiv{
        grid-area: fin;
    }
    .img{
        width: 300px;
    }
    
    #divProductos{
        display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: 300px 300px;
    }

    .divContactos{
        display: flex;
      
    }
    .contactos{
        display: flex;
       align-items:center;
        
    }
 
    .boxModel{
        display: none;
        
    }


@media screen and (max-width: 1200px){
   /* #main{
        display: grid;
        grid-template-columns: 15% auto;
        grid-template-rows: 15% 10% auto;
        column-gap: 10px;
        row-gap: 10px;
    }

#header{
    display: grid;
    grid-template-columns: 15% auto;
    grid-template-rows: 15% 10% auto;
    column-gap: 10px;
    row-gap: 10px; */

    #divProductos{
        display: grid;
        grid-template-columns: 50% auto;
        grid-template-rows: 300px 300px;
    
    }
}

@media screen and (min-width: 321px) and (max-width: 760px){ 
    #main{
        grid-template-columns: 15% auto;
        grid-template-rows: 15% 10% auto;
        column-gap: 10px;
        row-gap: 10px;
    }

#header{
    display: grid;
    grid-template-columns: 15% auto;
    grid-template-rows: 15% 10% auto;
    column-gap: 10px;
    row-gap: 10px;
}
@media screen and (max-width: 760px){
   #divProductos{
       display: flex;
       flex-direction: column;
       margin-top: 20px;
   }
}


}