@font-face{
    font-family: "Cafe";
    src:url(../typo/cafeandbrewery.ttf)
}


body {
    background-image: url(../multimedia/3403318.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    font-family: "Cafe";


}



.fashion{
    font-family: fantasy;
    
}

.fin{
    background-color: black;
}

.golfwang{
    color: yellowgreen;
    position: unset;
    margin-left: 600px;
}

.boxModel{
    width: 100px;
    height: 100px;
    overflow: auto;
    padding: 10px 20px 30px 100px;
    flex-direction:initial;
}

.titulo{
    margin: 10px 20px 30px 600px;
}

.border{
    border-style: dotted;
    width: 600px;
}

.img-home{
    height: 300;
}


.Empresa{
    background-image: url(../multimedia/contacotswallpaper.webp);
    background-size:cover;
    background-position: top;
}

.fondoContactos{
    background-image: url(../multimedia/1408.webp);
}

.bodyprod{
    background-image: url(../multimedia/3403318.webp);
}

.bodyser{
    background-image:url(../multimedia/57-572432_golf-le-fleur-mono.jpg);
    background-size: cover;
}

.padre{
    display: grid;
    grid-template-columns: 5fr 3fr 5fr ;
    grid-template-rows: 600px 600px;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 500px 500px;
    column-gap: 100px;
    row-gap: 50px;

}

header{
    grid-area: header;
}

footer{
    grid-area: footer;
}

section #productos{
    grid-area: productos;
}

.bodyprod{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(3, auto);
    justify-content: center;
    align-items: center;
}
section #servicios{
    grid-area: servicios;
}

nav{
    grid-area: nav;
}

aside{
    grid-area: aside;
}

#productos{
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: 300px 300px;
    align-items: flex-start;
    justify-items: first baseline;
    justify-items: flex-start;
}

.videito{
    -ms-flex-item-align: center;
    
    align-content: center;
    align-items: flex-start;
}

.aside{
   display: flex;
   justify-content:right;
}
.introduccion{ 
    justify-content: left;
}

@media screen and (min-width: 320px){
    footer{
        grid-area: fin;
    }
    nav{
        grid-area: nav;
    }
    
    
    
}
    
    
    #border{
        display: none;
    }

    #main{
        width: 100%;
    }

    body{
        width: 100%;
        
        grid-template-columns:subgrid;
        grid-template-rows: auto auto auto;
        grid-template-areas: "nav" "main" "fin";
    }
    .img-home{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    .img{
        width: 300px;
    }
    .bodyprod{
        display: flex;
        flex-direction: column;
        margin-top: 20%;
        margin: 25%;
    }

    

    .divContactos{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .contactos{
        display: flex;
       align-items:center;
        
    }
 
    .boxModel{
        display: none;
        
    }

    .btn{
        background-color: blue;
    }

    .footerCon{
        background-color: white;
        color: black;
    }


@media screen and (max-width: 1200px){
   /* #main{
        display: grid;
        grid-template-columns: 15% auto;
        grid-template-rows: 15% 10% auto;
        column-gap: 10px;
        row-gap: 10px;
    }

#header{
    display: grid;
    grid-template-columns: 15% auto;
    grid-template-rows: 15% 10% auto;
    column-gap: 10px;
    row-gap: 10px; */

  

  

}

.colaboraciones{
    display:grid;
    grid-template-columns:auto auto;
    grid-template-rows: auto;

}



@media screen and (min-width: 321px) and (max-width: 760px){ 
    #main{
        grid-template-columns: 15% auto;
        grid-template-rows: 15% 10% auto;
        column-gap: 10px;
        row-gap: 10px;
    }

#header{
    display: grid;
    grid-template-columns: 15% auto;
    grid-template-rows: 15% 10% auto;
    column-gap: 10px;
    row-gap: 10px;
}
@media screen and (max-width: 760px){
   #divProductos{
       display: flex;
       flex-direction: column;
       margin-top: 20px;
   }


}
.input{
    display: flex;
    justify-content: left;
    align-items: flex-start;
}


}